@import url("https://use.typekit.net/rpb1trw.css");

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}

.header {
  height: var(--tamanho-header);
  border-bottom: 2px solid #32b9cd;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header a {
  text-decoration: none;
  color: #e3b062;
}

.agora {
  font-weight: 800;
}

.navebar {
      background-color: rgb(6, 67, 6);
      height: 60px;
      width: 100%;
      max-width: 13000px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  }

  .savoia img {
      height: 55px;
      position: absolute;
      top: 0;
      left: 10px;
  }

  .botoes1 {
      display: flex;
      gap: 20px;
  }

  .botoes1 a {
      font-size: 20px;
      padding: 20px;
      font-family: "myriad-pro", sans-serif;
      color: #ffff;
      text-decoration: none;
      display: flex;
  }

  .logo img {
      height: auto;
      width: 150px;
      margin-top: 120px;
      margin-left: 35px;

  }

  .login_cadastro {
    display: flex;
    justify-content: end;
    align-items: center;
    position: absolute;
    gap: 65px;
    flex-direction: row;
    height: 50px;
    width: 75%;
    background-color: transparent;
  }

  .login_cor {
      width: 70px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: -20px;
      margin-right: -55px;
      border-radius: 03px;
      background-color: rgb(57, 173, 156);
  }


  .login_cor:focus {
      cursor: pointer;
      transition: 0.5s;
      transition-timing-function: linear;
  }

  .login_cor:active {
      transform: translate(0, 2px);
      border-bottom: 2px solid rgb(50, 50, 50);
  }

  .login_button button {
      background: none;
      border: none;
      font-size: 15px;
      font-family: "myriad-pro", sans-serif;
      color: rgb(255, 242, 0);
      text-decoration: none;
  }

  .login_cor a {
    background: none;
      border: none;
      font-size: 15px;
      font-family: "myriad-pro", sans-serif;
      color: rgb(255, 242, 0);
      text-decoration: none;
  }

  .cadastro_cor {
      width: 100px;
      height: 30px;
      ;
      display: flex;
      margin-right: -155px;
      align-items: center;
      justify-content: center;
      border-radius: 03px;
      background-color: rgb(57, 173, 156);
  }

  .cadastro_button button {
      background: none;
      border: none;
      font-size: 15px;
      font-family: "myriad-pro", sans-serif;
      color: rgb(255, 242, 0);
      text-decoration: none;
  }

  .cadastro_cor:focus {
      cursor: pointer;
      transition: 0.5s;
      transition-timing-function: linear;
  }

  .cadastro_cor:active {
      transform: translate(0, 2px);
      border-bottom: 2px solid rgb(50, 50, 50);
  }

  .cadastro_cor a {
    background: none;
      border: none;
      font-size: 15px;
      font-family: "myriad-pro", sans-serif;
      color: rgb(255, 242, 0);
      text-decoration: none;
  }

  
  .navebar2 {
      background-color: rgb(65, 105, 17);
      display: flex;
      justify-content: center;
      height: 60px;
      width: 100%;
      height: 100px;
  }

  .fundo {
      background-color: rgb(65, 105, 17);
      height: 535px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }

/* MISSÃO VISÃO VALORES */

.social {
  background-color: #e5e5e5;
  display: flex;
}

.social .container {
  justify-content: center;
}

.box img {
  width: 170px;
}

.social .container .boxes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 0;
}

.social p {
  text-align: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* FOOTER */

.footer {
  background-color: #32b9cd;
  height: 150px;
  color: #fff;
  display: flex;
  font-size: 15px;
}

.footer .container {
  justify-content: center;
  text-align: center;
}

.footer .container .version {
  font-size: 12px;
}

/* LOGIN */

.login {
  height: 450px;
  width: 900px;
  background-color: transparent;
  background-size: cover;
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 80%;
  background-color: rgb(6, 67, 6);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  flex-direction: column;
  height: fit-content;
  padding: 50px 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card h2 {
  margin-right: 70px;
  font-size: 35px;
}

.titulo_login{
  display: flex;
  justify-content: space-evenly;
  height: 120px;
  width: 100%;
  margin-right: 100px;
  text-shadow: 2px 2px 2px black;
  background-color: transparent;
}



.titulo_login img {
  height: 80px;
  width: 80px;
  margin-bottom: 10px;
}

.letras_login{
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
      border: none;
      font-size: 15px;
      font-family: "myriad-pro", sans-serif;
      color: rgb(255, 255, 255);
      text-decoration: none;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  border: 2px solid #32b9cd;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.formulario select {
  border: 2px solid #32b9cd;
  background-color: white;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #ED145B;
  width: 120px;
  height: 30px;
  align-self: center;
  margin-top: 20px;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #ED145B 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #ED145B;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* SIMULADOR */

.simulador {
  color: white;
}

.simulador .container {
  flex-direction: column;
  overflow: scroll; 
  height: var(--tamanho-simulador);
}

/* ALERTA */

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0%   {transform: rotate(25deg)}
  25%  {transform: rotate(-25deg)}
  50%  {transform: rotate(25deg)}
  75%  {transform: rotate(-25deg)}
  100% {transform: rotate(25deg)}
}