.navebar {
    background-color: rgb(6, 67, 6);
    height: 60px;
    width: 100%;
    text-align: center;
}

.logo img {
    height: auto;
    width: 150px;
    
}

.navebar2 {
    background-color: white;
    height: 60px;
    width: 100%;
}

.fundo {
    background-color: rgb(145, 232, 39);
    height: 500px;
    width: 100%;
}