  @import url("https://use.typekit.net/rpb1trw.css");

  body,
  * {
      box-sizing: border-box;
      margin: 0px;
      padding: 0px;
  }

  .navebar {
      background-color: rgb(6, 67, 6);
      height: 60px;
      width: 100%;
      max-width: 13000px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  }

  .savoia img {
      height: 55px;
      position: absolute;
      top: 0;
      left: 10px;
  }

  .botoes1 {
      display: flex;
      gap: 20px;
  }

  .botoes1 a {
      font-size: 20px;
      padding: 20px;
      font-family: "myriad-pro", sans-serif;
      color: #ffff;
      text-decoration: none;
      display: flex;
  }

  .logo img {
      height: auto;
      width: 150px;
      margin-top: 120px;
      margin-left: 35px;

  }

  .botoes2 {
      display: flex;
      gap: 20px;
  }

  .botoes2 a {
      font-size: 20px;
      padding: 20px;
      font-family: "myriad-pro", sans-serif;
      color: #ffff;
      text-decoration: none;
      display: flex;
  }

  .position_button {
    height: 50px;
    width: 30;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .sair_cor {
      width: 100px;
      height: 30px;;
      display: flex;
      margin-right: -95px;
      align-items: center;
      justify-content: center;
      border-radius: 03px;
      background-color: rgb(57, 173, 156);
  }

  .sair_button button {
      background: none;
      border: none;
      font-size: 15px;
      font-family: "myriad-pro", sans-serif;
      color: rgb(255, 242, 0);
      text-decoration: none;
  }

  .sair_cor:focus {
      cursor: pointer;
      transition: 0.5s;
      transition-timing-function: linear;
  }

  .sair_cor:active {
      transform: translate(0, 2px);
      border-bottom: 2px solid rgb(50, 50, 50);
  }

  .sair_cor a {
    background: none;
      border: none;
      font-size: 15px;
      font-family: "myriad-pro", sans-serif;
      color: rgb(255, 242, 0);
      text-decoration: none;
  }

  .navebar2 {
      background-color: rgb(65, 105, 17);
      display: flex;
      justify-content: center;
      height: 60px;
      width: 100%;
      height: 100px;
  }
  
  .fundo {
      background-color: rgb(65, 105, 17);
      height: 700px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: center;
  }

  .quadro_dashboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 500px;
    width: 80%;
    margin-bottom: 70px;
    background-color: rgb(57, 173, 156);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 5px;
    padding: 20px;
    gap: 10px;

  }

  .kpis {
    height: 99%;
    width: 350px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .kpis H3 {
    font-size: 20px;
      padding: 10px;
      font-family: "myriad-pro", sans-serif;
      color: #ffffff;
      text-decoration: none;
      display: flex;
      justify-content: start;
      text-shadow: 1px 1px 1px black;
  }
 
  .kpi1 {
    width: 250px;
    height: 145px;
    background-color: rgb(255, 242, 0);
    border-radius: 5px;
    
  }
  .kpi2 {
    width: 250px;
    height: 145px;
    background-color: rgb(255, 242, 0);
    border-radius: 5px;
    gap: 50px;
  }
  .kpi3 {
    width: 250px;
    height: 145px;
    background-color: rgb(255, 242, 0);
    border-radius: 5px;
    gap: 50px;
  } 

.graficos {
    height: 460px;
    width: 99%;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    gap: 20px;
}

.graficos H3 {
    font-size: 20px;
      padding: 10px;
      font-family: "myriad-pro", sans-serif;
      color: #ffffff;
      text-decoration: none;
      display: flex;
      justify-content: start;
      text-shadow: 1px 1px 1px black;
}

.grafico1 {
    width: 440px;
    height: 100%;
    background-color: rgb(255, 242, 0);
    border-radius: 5px;
}

.grafico2 {
    width: 440px;
    height: 100%;
    background-color: rgb(255, 242, 0);
    border-radius: 5px;
}

  
  .footer {
    display: flex;
    justify-content: baseline;
      background-color: rgb(6, 67, 6);
      height: 60px;
      width: 100%;
  }

  .texto_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    width: 100%;
    height: 100%;
  }

  .texto_footer a{
    justify-content: center;
      font-size: 20px;
      font-family: "myriad-pro", sans-serif;
      color: #ffff;
      text-decoration: none;
  }