  @import url("https://use.typekit.net/rpb1trw.css");

  body,
  * {
      box-sizing: border-box;
      margin: 0px;
      padding: 0px;
  }

  .navebar {
      background-color: rgb(6, 67, 6);
      height: 60px;
      width: 100%;
      max-width: 13000px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 60px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  }

  .savoia img {
      height: 55px;
      position: absolute;
      top: 0;
      left: 10px;
  }

  .botoes1 {
      display: flex;
      gap: 20px;
  }

  .botoes1 a {
      font-size: 20px;
      padding: 20px;
      font-family: "myriad-pro", sans-serif;
      color: #ffff;
      text-decoration: none;
      display: flex;
  }

  .logo img {
      height: auto;
      width: 150px;
      margin-top: 120px;
      margin-left: 35px;

  }

  .botoes2 {
      font-size: 20px;
      padding: 30px;
      display: flex;
      gap: 20px;
  }

  .botoes2 a {
      font-family: "myriad-pro", sans-serif;
      color: #ffff;
      text-decoration: none;
  }

  .login_cor {
      width: 70px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: -20px;
      margin-right: -55px;
      border-radius: 03px;
      background-color: rgb(57, 173, 156);
  }


  .login_cor:focus {
      cursor: pointer;
      transition: 0.5s;
      transition-timing-function: linear;
  }

  .login_cor:active {
      transform: translate(0, 2px);
      border-bottom: 2px solid rgb(50, 50, 50);
  }

  .login_button button {
      background: none;
      border: none;
      font-size: 15px;
      font-family: "myriad-pro", sans-serif;
      color: rgb(255, 242, 0);
      text-decoration: none;
  }

  .login_cor a {
    background: none;
      border: none;
      font-size: 15px;
      font-family: "myriad-pro", sans-serif;
      color: rgb(255, 242, 0);
      text-decoration: none;
  }

  .cadastro_cor {
      width: 100px;
      height: 30px;
      display: flex;
      margin-right: -155px;
      align-items: center;
      justify-content: center;
      border-radius: 03px;
      background-color: rgb(57, 173, 156);
  }

  .cadastro_button button {
      background: none;
      border: none;
      font-size: 15px;
      font-family: "myriad-pro", sans-serif;
      color: rgb(255, 242, 0);
      text-decoration: none;
  }

  .cadastro_cor:focus {
      cursor: pointer;
      transition: 0.5s;
      transition-timing-function: linear;
  }

  .cadastro_cor:active {
      transform: translate(0, 2px);
      border-bottom: 2px solid rgb(50, 50, 50);
  }

.cadastro_cor a {
    background: none;
      border: none;
      font-size: 15px;
      font-family: "myriad-pro", sans-serif;
      color: rgb(255, 242, 0);
      text-decoration: none;
}

  .navebar2 {
      background-color: rgb(65, 105, 17);
      display: flex;
      justify-content: center;
      height: 60px;
      width: 100%;
      height: 100px;
  }

  .fundo {
      background-color: rgb(65, 105, 17);
      height: 1650px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .conteudo_sobremim {
      flex-direction: row;
      padding: 15px;
      height: 1530px;
      position: relative;
      margin-top: 40px;
      width: 90%;
      transition-duration: 0.3s;
      background-color: rgb(255, 255, 255);
      border: 5px solid rgb(65, 105, 17);
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  .sobremim {
      display: flex;
      align-items: center;
      margin-top: 20px;
      height: 400px;
      width: 95%;
      background-color: green;
      margin-left: 30px;
  }

  .sobremim img {
      margin-left: 20px;
      border: 5px solid white;
      height: 350px;
      width: 300px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  .texto_sobremim {
      padding: 20px;
      height: 350px;
      width: 900px;
      border: 5px solid white;
      background-color: green;
      margin-left: 20px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  .texto_sobremim i {
      background: none;
      border: none;
      font-size: 15 5px;
      font-family: "myriad-pro", sans-serif;
      color: white;
      text-decoration: none;

  }


  .tio {
      display: flex;
      align-items: center;
      margin-top: 20px;
      height: 400px;
      width: 95%;
      background-color: green;
      margin-left: 30px;
  }

  .tio img {
      margin-left: 20px;
      border: 5px solid white;
      height: 350px;
      width: 300px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  .texto_tio {
      padding: 20px;
      height: 350px;
      width: 900px;
      border: 5px solid white;
      background-color: green;
      margin-left: 20px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  .tio i {
      background: none;
      border: none;
      font-size: 15 5px;
      font-family: "myriad-pro", sans-serif;
      color: white;
      text-decoration: none;
  }

.extras {
    display: flex;
    justify-content: center;
      align-items: center;
      margin-top: 20px;
      height: 600px;
      width: 95%;
      background-color: transparent;
      margin-left: 15px;
}


.irmao {
    display: flex;
    justify-content: start;
    padding: 20px;
    margin-top: 20px;
    margin-left: 30px;
    height: 580px;
    width: 600px;
    background-color: green;
   
}

.img_irmao {
    display: flex;
    flex-direction: column;
    margin-top: -10px;
    justify-content: center;
    gap: 25px;
    height: 550px;
    width: 250px;
}

.img_irmao img {
    height: 250px;
    width: 250px;
    border: 5px solid white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.texto_irmao {
    padding: 10px;
    margin-left: 10px;
    border: 5px solid white;
    height: 530px;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.texto_irmao i {
      background: none;
      border: none;
      font-size: 15 5px;
      font-family: "myriad-pro", sans-serif;
      color: white;
      text-decoration: none;
  }

  .aproveitamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 30px;
    height: 580px;
    width: 600px;
    background-color: green;
  }

  .img_aproveitamento img {
    border: 5px solid white;
    margin-top: -5px;
    height: 250px;
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }


  .texto_aproveitamento {
    border: 5px solid white;
    padding: 10px;
    height: 280px;
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

  .texto_aproveitamento i {
    background: none;
      border: none;
      font-size: 15 5px;
      font-family: "myriad-pro", sans-serif;
      color: white;
      text-decoration: none;
  }


  .footer {
      display: flex;
      justify-content: baseline;
      background-color: rgb(6, 67, 6);
      height: 60px;
      width: 100%;
  }

  .texto_footer {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 150px;
      width: 100%;
      height: 100%;
  }

  .texto_footer a {
      justify-content: center;
      font-size: 20px;
      font-family: "myriad-pro", sans-serif;
      color: #ffff;
      text-decoration: none;
  }