  @import url("https://use.typekit.net/rpb1trw.css");

  body,
  * {
      box-sizing: border-box;
      margin: 0px;
      padding: 0px;
  }

  .navebar {
      background-color: rgb(6, 67, 6);
      height: 60px;
      width: 100%;
      max-width: 13000px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 60px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  }

  .savoia img {
      height: 55px;
      position: absolute;
      top: 0;
      left: 10px;
  }

  .botoes1 {
      display: flex;
      gap: 20px;
  }

  .botoes1 a {
      font-size: 20px;
      padding: 20px;
      font-family: "myriad-pro", sans-serif;
      color: #ffff;
      text-decoration: none;
      display: flex;
  }

  .logo img {
      height: auto;
      width: 150px;
      margin-top: 120px;
      margin-left: 35px;

  }

  .botoes2 {
      font-size: 20px;
      padding: 30px;
      display: flex;
      gap: 20px;
  }

  .botoes2 a {
      font-family: "myriad-pro", sans-serif;
      color: #ffff;
      text-decoration: none;
  }

  .login_cor {
      width: 70px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: -20px;
      margin-right: -55px;
      border-radius: 03px;
      background-color: rgb(57, 173, 156);
  }


  .login_cor:focus {
      cursor: pointer;
      transition: 0.5s;
      transition-timing-function: linear;
  }

  .login_cor:active {
      transform: translate(0, 2px);
      border-bottom: 2px solid rgb(50, 50, 50);
  }

.login_cor a {
  background: none;
      border: none;
      font-size: 15px;
      font-family: "myriad-pro", sans-serif;
      color: rgb(255, 242, 0);
      text-decoration: none;
}

  .login_button button {
      background: none;
      border: none;
      font-size: 15px;
      font-family: "myriad-pro", sans-serif;
      color: rgb(255, 242, 0);
      text-decoration: none;
  }

  .cadastro_cor {
      width: 100px;
      height: 30px;
      ;
      display: flex;
      margin-right: -155px;
      align-items: center;
      justify-content: center;
      border-radius: 03px;
      background-color: rgb(57, 173, 156);
  }

  .cadastro_button button {
      background: none;
      border: none;
      font-size: 15px;
      font-family: "myriad-pro", sans-serif;
      color: rgb(255, 242, 0);
      text-decoration: none;
  }

  .cadastro_cor:focus {
      cursor: pointer;
      transition: 0.5s;
      transition-timing-function: linear;
  }

  .cadastro_cor:active {
      transform: translate(0, 2px);
      border-bottom: 2px solid rgb(50, 50, 50);
  }

.cadastro_cor a {
  background: none;
      border: none;
      font-size: 15px;
      font-family: "myriad-pro", sans-serif;
      color: rgb(255, 242, 0);
      text-decoration: none;
}

  .navebar2 {
      background-color: rgb(65, 105, 17);
      display: flex;
      justify-content: center;
      height: 60px;
      width: 100%;
      height: 100px;
  }
  
  .fundo {
      background-color: rgb(65, 105, 17);
      height: 2000px;
      width: 100%;
      margin-top: 10px;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      display: flex;
  }

  .bloco1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    background-color: rgb(65, 105, 17);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  }

  .bloco {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    background-color: rgb(65, 105, 17);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  }

  .bloco_imagem1{
      display: flex;
      align-items: start;
      height: 300px;
      width: 50%;
      background-color: white;
      border: 5px solid green;
  }

  .bloco_imagem1 img {
    padding: 20px;
        height: 300px;
        width: 250px;
  }

  .texto_bloco1 {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    background-color: transparent;
    height: 300px;
    width: 400px;
  }

  .texto_bloco1 a {
    background: none;
      border: none;
      font-size:15 5px;
      font-family: "myriad-pro", sans-serif;
      color: rgb(65, 105, 17);
      text-decoration: none;
  }

  .texto_bloco {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    background-color: transparent;
    height: 230px;
    width: 220px;
  }

  .texto_bloco a {
    background: none;
      border: none;
      font-size:15 5px;
      font-family: "myriad-pro", sans-serif;
      color: rgb(65, 105, 17);
      text-decoration: none;
  }

  .bloco_imagem {
    display: flex;
      justify-content: start;
      padding: 20px;
      height: 300px;
      margin-left: 50px;
      margin-right: 50px;
      width: 50%;
      background-color: white;
      border: 5px solid green;
  }

  .bloco_imagem img{
    height: 250px;
    width: 250px;

  }

  .footer {
    display: flex;
    justify-content: baseline;  
      background-color: rgb(6, 67, 6);
      height: 60px;
      width: 100%;
  }

  .texto_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    width: 100%;
    height: 100%;
  }

  .texto_footer a{
    justify-content: center;
      font-size: 20px;
      font-family: "myriad-pro", sans-serif;
      color: #ffff;
      text-decoration: none;
  }