  @import url("https://use.typekit.net/rpb1trw.css");

  body,
  * {
      box-sizing: border-box;
      margin: 0px;
      padding: 0px;
  }

  .navebar {
      background-color: rgb(6, 67, 6);
      height: 60px;
      width: 100%;
      max-width: 13000px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 60px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  }

  .savoia img {
      height: 55px;
      position: absolute;
      top: 0;
      left: 10px;
  }

  .botoes1 {
      display: flex;
      gap: 20px;
  }

  .botoes1 a {
      font-size: 20px;
      padding: 20px;
      font-family: "myriad-pro", sans-serif;
      color: #ffff;
      text-decoration: none;
      display: flex;
  }

  .logo img {
      height: auto;
      width: 150px;
      margin-top: 120px;
      margin-left: 35px;

  }

  .botoes2 {
      display: flex;
      gap: 20px;
  }

  .botoes2 a {
      font-size: 20px;
      padding: 20px;
      font-family: "myriad-pro", sans-serif;
      color: #ffff;
      text-decoration: none;
      display: flex;
  }

  .navebar2 {
      background-color: rgb(65, 105, 17);
      display: flex;
      justify-content: center;
      height: 60px;
      width: 100%;
      height: 100px;
  }
  
  .fundo {
      background-color: rgb(65, 105, 17);
      height: 1470px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .fundo img {
    height:750px;
    margin-top: 10px;
    opacity: 80%;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  }

  .texto_torcida {
      display: flex;
      padding: 15px;
      height: 700px;
      position: relative;
      margin-top: 10px;
      width: 90%;
      transition-duration: 0.3s;
      background-color: rgb(255, 255, 255);
      border: 5px solid rgb(65, 105, 17);
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  }

  .texto_torcida a {
      background: none;
      border: none;
      font-size: 15                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            5px;
      font-family: "myriad-pro", sans-serif;
      color: rgb(65, 105, 17);
      text-decoration: none;

  }

  .footer {
    display: flex;
    justify-content: baseline;  
      background-color: rgb(6, 67, 6);
      height: 60px;
      width: 100%;
  }

  .texto_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    width: 100%;
    height: 100%;
  }

  .texto_footer a{
    justify-content: center;
      font-size: 20px;
      font-family: "myriad-pro", sans-serif;
      color: #ffff;
      text-decoration: none;
  }